<mat-card>

  <mat-card-content>

    <mat-toolbar color="primary">Detalhes do curso</mat-toolbar>

    <form [formGroup]="form" class="course-form min-width">
      <mat-form-field class="full-width">
        <mat-label>Nome do Curso</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="category">
      </mat-form-field>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Salvar</button>
    <button mat-raised-button>Cancelar</button>
  </mat-card-actions>

</mat-card>